<div class="container" class="container-login">
    
    <div class="login">
        <div class="row">
            <h1>Login</h1>
            <form [formGroup]="usuarioForm">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput type="email">
                </mat-form-field>
                <mat-form-field appearance="outline" >
                    <mat-label>Senha</mat-label>
                    <input formControlName="senha" matInput type="password" >
                </mat-form-field>
            </form>
        </div>
        <div mat-dialog-actions>
            <button  mat-raised-button color="primary" (click)="login()">Logar</button>
            <button mat-raised-button color="warn" (click)="openDialog()">Cadastrar</button>
        </div>
    </div>
</div>
