<div class="container">
    <mat-form-field appearance="outline">
        <mat-label>Escolha uma opção</mat-label>
        <mat-select name="food" #select>
            <mat-option label="--slect something --"></mat-option>
            <mat-option value="1">Renda Fixa</mat-option>
            <mat-option value="2">Renda Variável</mat-option>
            <mat-option value="3">Poupança</mat-option>
            <mat-option value="4">Tesouro Direto</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="container" *ngIf="select.value ==='1'">
        <mat-form-field appearance="outline">
            <mat-label>Escolha uma opção</mat-label>
            <mat-select name="food" #select>
                <mat-option label="--slect something --"></mat-option>
                <mat-option mat-cell *matCellDef="let row"> {{ row.rendaFixa.nomeDoPapel  }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="container" *ngIf="select.value ==='2'">
        <app-list-renda-fixa></app-list-renda-fixa>
    </div>
    <div class="container" *ngIf="select.value ==='3'">
        <app-list-poupanca></app-list-poupanca>
    </div>
    <div class="container" *ngIf="select.value ==='4'">
        <app-list-tesouro-direto></app-list-tesouro-direto>
    </div>

</div>

<!-- <mat-form-field appearance="outline">
    <mat-label> Produto Renda Variavel</mat-label>
    <mat-select formControlName="produtoRendaVariavelId" placeholder="Produto Renda Variavel">
        <div >
             <mat-option [value]="u.produtoRendaVariavelId"> {{ u.produtoRendaVariavelNome }} </mat-option> -->
        <!-- </div>
    </mat-select>
  </mat-form-field>
  <ng-container matColumnDef="nomeDoPapel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome Papel</th>
    <td mat-cell *matCellDef="let row"> {{ row.nomeDoPapel  }} </td>
  </ng-container> --> 